:root {
    --dark-color1: #e29578;
    --dark-color2: #f72585;
    --dark-color3: #390099;

    --light-color1: #e5e6e4;
    --light-color2: #cfd2cd;
    --light-color3: #83c5be;

    --borRad: 25px;
}



body {
    width: 90%;
    margin: 0 auto;
    background-color: var(--light-color1);
}

header {
    display: grid;

    align-items: center;


}

h1 {
    color: var(--dark-color3);
    font-family: 'Oswald',
        sans-serif;
    margin: 3rem 0 0 5rem;


}

em {
    color: var(--dark-color2);
    padding-right: 5px;
    font-size: 2.5rem;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 3rem;
}

a,
li {
    font-size: 1.5rem;
    list-style: none;
    text-decoration: none;
    color: var(--dark-color3);
}

a:hover {
    color: var(--dark-color2);
}

nav a:hover {
    color: var(--dark-color2);
}

.selected {
    text-decoration: underline;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.main-container h2 {
    background-color: var(--light-color3);
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    border: var(--dark-color2) 4px solid;
}

.main-container a {
    display: block;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-top: 2rem;
    color: var(--dark-color2);
    text-align: center;
    padding-top: 2rem;
}



.main-container a:hover {
    transform: scale(1.1);
}


/* list of products */
.list-of-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
    gap: 2rem;
}

article {
    display: flex;
    flex-direction: column;

}

P {
    margin-top: 0;
    font-family: 'Oswald',
        sans-serif;
    font-weight: 600;
}

/* product page */
.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
}

.product-container li {
    list-style: initial;
    line-height: 2.5rem;
}


h2 {
    color: var(--dark-color3);
}

.product-page {
    background-color: white;
    height: fit-content;
    padding: 2rem;
    /* width: 50%; */
}

.discount {
    border-radius: var(--borRad);
    padding: 0.2rem;
    margin: 0 2rem;
    background-color: var(--dark-color2);
    color: var(--dark-color3);
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

button {
    margin-top: 2rem;
    background-color: var(--dark-color3);
    color: white;
    border: none;
    border-radius: var(--borRad);
    padding: 0.3rem;
    font-size: medium;
    font-weight: 600;
    text-transform: uppercase;
}

.onSale {
    background-color: var(--dark-color2);
    border-radius: var(--borRad);
    text-align: right;
    padding: 0.3rem;

}


.soldOut {
    display: none;
}

.discounted {
    text-align: center;
    grid-column: 2/3;
}

/* media queries */

/* CATEGORY */

@media only screen and (max-width: 1050px) {
    .main-container a {
        font-size: 1.8rem;
        padding-top: 0;
    }
}

@media only screen and (max-width: 700px) {
    .main-container a {
        font-size: 1.5rem;
        padding-top: 0;
    }

    .main-container h2 {
        background-color: var(--light-color1);
        border-radius: 0;
        border: 0;

    }

    .main-container {
        display: flex;
        flex-direction: column;
    }

}

/* PRODUCT PAGE */

@media only screen and (max-width: 1160px) {
    body {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .product-container {
        grid-template-columns: 1fr;

    }
}

@media only screen and (max-width: 700px) {

    .product-container img {
        width: 75%;
        margin: 0 auto;
    }

    .product-container {
        display: block;
        margin: 0 auto;
    }
}